name: Build and Publish Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  prepare:
    name: Get release version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      publish: ${{ steps.get-version.outputs.publish }}
    steps:
      - name: Get version from tag
        id: get-version
        run: |
          pattern="^refs\/tags\/v([0-9]+\.[0-9]+\.[0-9]+(-(a|alpha|b|beta|dev)[0-9]+)?)$"
          if [[ "${{ github.ref }}" =~ $pattern ]]
          then
            ver="${BASH_REMATCH[1]}"
            pub="true"
          else
            ver=""
            pub="false"
          fi
          echo "version=$ver" >> "$GITHUB_OUTPUT"
          echo "publish=$pub" >> "$GITHUB_OUTPUT"

  build:
    name: Build packages
    needs: prepare
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        target: [x86_64, aarch64]
        include:
          - os: windows-latest
            target: i686
            arch: x86
          - target: x86_64
            arch: x64
          - target: aarch64
            arch: x64

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          architecture: ${{ matrix.arch }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "maturin>=1.1,<2.0" build
      - name: Update Cargo.toml version
        if: needs.prepare.outputs.publish == 'true'
        env:
          VERSION: ${{ needs.prepare.outputs.version }}
        run: |
          $cargo = Get-Content "Cargo.toml"
          Write-Host "Version: $env:VERSION"
          for ($i = 0; $i -lt $cargo.Length; $i++) { 
              if ($cargo[$i] -match '^version = ".+"') {
                  $cargo[$i] = "version = ""$env:VERSION"""
                  Write-Host "Set version to $env:VERSION in Cargo.toml"
                  break
              }
          }
          $cargo | Out-File -Force -Encoding "UTF8" -FilePath "Cargo.toml"
        shell: pwsh
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          maturin-version: v1.1.0
          manylinux: auto
          args: --release --out dist -m Cargo.toml
      - name: Build wheels (musllinux)
        uses: PyO3/maturin-action@v1
        if: matrix.os == 'ubuntu-latest'
        with:
          target: ${{ matrix.target }}-unknown-linux-musl
          maturin-version: v1.1.0
          manylinux: musllinux_1_2
          args: --release --out dist -m Cargo.toml
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist/

  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: [prepare, build]
    if: needs.prepare.outputs.publish == 'true'
    environment: release
    permissions:
      id-token: write
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist/
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
